In [ ]:
import sys 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [145]:
!unzip './data/wine.zip' -d '/content/wine'

Archive:  ./sample_data/archive.zip
replace /content/wine/winequalityN.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
data=pd.read_csv('/content/wine/winequalityN.csv', index_col=False)

## Analyzing

some NA entries in the training and test sets actually mean "no basement"

“NA” entries in numeric fields relating to the basement can simply be replaced with a zero.

In [ ]:
# test['BsmtFinSF1'] = test['BsmtFinSF1'].replace(np.NaN, 0)
#BsmtFinSF2 BsmtUnfSF  TotalBsmtSF BsmtFullBath BsmtHalfBath

In [ ]:
# credit: https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction. 

def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [ ]:
data.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [ ]:
data.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [ ]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [ ]:
missing_values_table(data)

Your selected dataframe has 13 columns.
There are 7 columns that have missing values.

                  Missing Values  % of Total Values
fixed acidity                 10                0.2
pH                             9                0.1
volatile acidity               8                0.1
sulphates                      4                0.1
citric acid                    3                0.0
residual sugar                 2                0.0
chlorides                      2                0.0

In [ ]:
import math
def createDic(list_str):
  dic = {}
  counter = 0
  for i in list_str:
    # print(type(i))
    if isinstance(i, (float)) and math.isnan(i):
      # print("nan")
      dic[i] = np.NaN
    else:
      dic[i] = counter
      counter+=1
  return dic

# Preprocessing

# Treat Missings Values

## Deleting Rows / Listwise Deletion

Delete all row with missing values

In [128]:
data_delete_row = data.copy()
data_delete_row

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [129]:
train_del, test_del = train_test_split(data_delete_row, test_size=.33)
test_del

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4679,white,4.7,0.335,0.14,1.3,0.036,69.0,168.0,0.99212,3.47,0.46,10.5,5
2688,white,7.2,0.190,0.27,11.2,0.061,46.0,149.0,0.99772,2.99,0.59,9.3,6
3406,white,5.6,0.320,0.33,7.4,0.037,25.0,95.0,0.99268,3.25,0.49,11.1,6
3596,white,6.6,0.170,0.28,1.1,0.034,55.0,108.0,0.98939,3.00,0.52,11.9,7
491,white,7.1,0.230,0.39,1.6,0.032,12.0,65.0,0.98980,3.25,0.40,12.7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,white,6.4,0.150,0.40,1.3,0.053,61.0,146.0,0.99112,3.17,0.68,11.0,6
4141,white,6.8,0.280,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,6
1244,white,6.4,0.260,0.22,5.1,0.037,23.0,131.0,0.99440,3.29,0.32,10.1,5
5515,red,11.5,0.310,0.51,2.2,0.079,14.0,28.0,0.99820,3.03,0.93,9.8,6
2599,white,6.9,0.320,0.27,16.0,0.034,58.0,185.0,0.99938,3.34,0.60,9.0,6

In [130]:
def create_new_ds(dataset):
  numeric_features = dataset.select_dtypes(exclude=[np.number])
  for i in numeric_features:
    dic = createDic(dataset[i].unique())
    #print(dic)
    #print(dataset[i].unique())
    dataset[i] = dataset[i].map(dic)
    #print(dataset[i])

  return dataset

In [131]:
train_del

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
704,white,5.6,0.25,0.26,3.6,0.037,18.0,115.0,0.99040,3.42,0.50,12.6,6
3637,white,8.7,0.30,0.34,4.8,0.018,23.0,127.0,0.99474,3.12,0.49,11.2,7
2203,white,7.8,0.24,0.38,2.1,0.058,14.0,167.0,0.99400,3.21,0.55,9.9,5
65,white,6.2,0.35,0.03,1.2,0.064,29.0,120.0,0.99340,3.22,0.54,9.1,5
5184,red,12.0,0.45,0.55,2.0,0.073,25.0,49.0,0.99970,3.10,0.76,10.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,red,12.5,0.37,0.55,2.6,0.083,25.0,68.0,0.99950,3.15,0.82,10.4,6
6064,red,9.9,0.54,0.26,2.0,0.111,7.0,60.0,0.99709,2.94,0.98,10.2,5
1479,white,7.7,0.16,0.49,2.0,0.056,20.0,124.0,0.99480,3.32,0.49,10.7,6
207,white,10.2,0.44,0.88,6.2,0.049,20.0,124.0,0.99680,2.99,0.51,9.9,4
6381,red,8.1,0.33,0.44,1.5,0.042,6.0,12.0,0.99542,3.35,0.61,10.7,5

In [132]:
train_del = create_new_ds(train_del)
missing_values_table(train_del)
train_del.dropna(inplace=True)
train_del.isnull().sum()

test_del = create_new_ds(test_del)
missing_values_table(test_del)
test_del.dropna(inplace=True)
test_del.isnull().sum()

Your selected dataframe has 13 columns.
There are 7 columns that have missing values.
Your selected dataframe has 13 columns.
There are 6 columns that have missing values.

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [133]:
train_del.to_csv('wine/deletedRowsTrain.csv', index=False)
train_del

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
704,0,5.6,0.25,0.26,3.6,0.037,18.0,115.0,0.99040,3.42,0.50,12.6,6
3637,0,8.7,0.30,0.34,4.8,0.018,23.0,127.0,0.99474,3.12,0.49,11.2,7
2203,0,7.8,0.24,0.38,2.1,0.058,14.0,167.0,0.99400,3.21,0.55,9.9,5
65,0,6.2,0.35,0.03,1.2,0.064,29.0,120.0,0.99340,3.22,0.54,9.1,5
5184,1,12.0,0.45,0.55,2.0,0.073,25.0,49.0,0.99970,3.10,0.76,10.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,1,12.5,0.37,0.55,2.6,0.083,25.0,68.0,0.99950,3.15,0.82,10.4,6
6064,1,9.9,0.54,0.26,2.0,0.111,7.0,60.0,0.99709,2.94,0.98,10.2,5
1479,0,7.7,0.16,0.49,2.0,0.056,20.0,124.0,0.99480,3.32,0.49,10.7,6
207,0,10.2,0.44,0.88,6.2,0.049,20.0,124.0,0.99680,2.99,0.51,9.9,4
6381,1,8.1,0.33,0.44,1.5,0.042,6.0,12.0,0.99542,3.35,0.61,10.7,5

In [134]:

test_del.to_csv('wine/deletedRowsTest.csv', index=False)
test_del

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4679,0,4.7,0.335,0.14,1.3,0.036,69.0,168.0,0.99212,3.47,0.46,10.5,5
2688,0,7.2,0.190,0.27,11.2,0.061,46.0,149.0,0.99772,2.99,0.59,9.3,6
3406,0,5.6,0.320,0.33,7.4,0.037,25.0,95.0,0.99268,3.25,0.49,11.1,6
3596,0,6.6,0.170,0.28,1.1,0.034,55.0,108.0,0.98939,3.00,0.52,11.9,7
491,0,7.1,0.230,0.39,1.6,0.032,12.0,65.0,0.98980,3.25,0.40,12.7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,0,6.4,0.150,0.40,1.3,0.053,61.0,146.0,0.99112,3.17,0.68,11.0,6
4141,0,6.8,0.280,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,6
1244,0,6.4,0.260,0.22,5.1,0.037,23.0,131.0,0.99440,3.29,0.32,10.1,5
5515,1,11.5,0.310,0.51,2.2,0.079,14.0,28.0,0.99820,3.03,0.93,9.8,6
2599,0,6.9,0.320,0.27,16.0,0.034,58.0,185.0,0.99938,3.34,0.60,9.0,6

## Replacing With Mean

In [ ]:
def filter1(dataset):
    for col in dataset.columns:
        #print(dataset[col].dtypes)
        if dataset[col].dtypes=='object':
            dataset[col].fillna(dataset[col].mode()[0],inplace=True)
        elif dataset[col].dtypes=='int64' or dataset[col].dtypes=='float64':
            dataset[col].fillna(dataset[col].mean(),inplace=True)            

    return dataset

In [92]:
data_mean = data.copy()
train_mean, test_mean = train_test_split(data_mean, test_size=.33)
test_mean

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6095,red,7.7,0.570,0.21,1.5,0.069,4.0,9.0,0.99458,3.16,0.54,9.8,6
5813,red,8.6,0.315,0.40,2.2,0.079,3.0,6.0,0.99512,3.27,0.67,11.9,6
3797,white,7.0,0.390,0.21,10.7,0.098,13.0,91.0,0.99657,3.03,0.47,9.3,5
4104,white,6.9,0.450,0.27,4.7,0.035,17.0,80.0,0.99058,3.12,0.36,12.5,7
4968,red,7.7,0.630,0.08,1.9,0.076,15.0,27.0,0.99670,3.32,0.54,9.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,white,7.2,0.230,0.25,18.8,0.085,19.0,111.0,1.00044,3.10,0.51,8.7,5
5564,red,8.3,0.490,0.36,1.8,0.222,6.0,16.0,0.99800,3.18,0.60,9.5,6
4161,white,7.4,0.160,0.30,13.7,0.056,33.0,168.0,0.99825,2.90,0.44,8.7,7
2429,white,8.1,0.340,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6
296,white,8.3,0.390,0.70,10.6,0.045,33.0,169.0,0.99760,3.09,0.57,9.4,5

In [93]:
train_mean = filter1(train_mean)
test_mean = filter1(test_mean)
train_mean

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6109,red,6.6,0.440,0.15,2.1,0.076,22.0,53.0,0.99570,3.32,0.62,9.3,5
2979,white,6.7,0.360,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7
2825,white,6.3,0.250,0.22,3.3,0.048,41.0,161.0,0.99256,3.16,0.50,10.5,6
6180,red,7.9,0.765,0.00,2.0,0.084,9.0,22.0,0.99619,3.33,0.68,10.9,6
3320,white,7.5,0.290,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,white,6.0,0.200,0.24,1.8,0.030,30.0,105.0,0.99090,3.31,0.47,11.5,6
3270,white,6.4,0.150,0.29,1.8,0.044,21.0,115.0,0.99166,3.10,0.38,10.2,5
1755,white,6.3,0.250,0.23,14.9,0.039,47.0,142.0,0.99705,3.14,0.35,9.7,6
1945,white,8.1,0.260,0.30,7.8,0.049,39.0,152.0,0.99540,2.99,0.58,10.0,6
2098,white,7.4,0.180,0.36,13.1,0.056,72.0,163.0,1.00000,3.42,0.35,9.1,6

In [95]:
train_mean = create_new_ds(train_mean)
test_mean = create_new_ds(test_mean)

In [96]:
train_mean.to_csv('wine/train_mean.csv', index=False)
train_mean

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6109,0,6.6,0.440,0.15,2.1,0.076,22.0,53.0,0.99570,3.32,0.62,9.3,5
2979,1,6.7,0.360,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7
2825,1,6.3,0.250,0.22,3.3,0.048,41.0,161.0,0.99256,3.16,0.50,10.5,6
6180,0,7.9,0.765,0.00,2.0,0.084,9.0,22.0,0.99619,3.33,0.68,10.9,6
3320,1,7.5,0.290,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,1,6.0,0.200,0.24,1.8,0.030,30.0,105.0,0.99090,3.31,0.47,11.5,6
3270,1,6.4,0.150,0.29,1.8,0.044,21.0,115.0,0.99166,3.10,0.38,10.2,5
1755,1,6.3,0.250,0.23,14.9,0.039,47.0,142.0,0.99705,3.14,0.35,9.7,6
1945,1,8.1,0.260,0.30,7.8,0.049,39.0,152.0,0.99540,2.99,0.58,10.0,6
2098,1,7.4,0.180,0.36,13.1,0.056,72.0,163.0,1.00000,3.42,0.35,9.1,6

In [97]:
test_mean.to_csv('wine/test_mean.csv', index=False)
test_mean

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6095,0,7.7,0.570,0.21,1.5,0.069,4.0,9.0,0.99458,3.16,0.54,9.8,6
5813,0,8.6,0.315,0.40,2.2,0.079,3.0,6.0,0.99512,3.27,0.67,11.9,6
3797,1,7.0,0.390,0.21,10.7,0.098,13.0,91.0,0.99657,3.03,0.47,9.3,5
4104,1,6.9,0.450,0.27,4.7,0.035,17.0,80.0,0.99058,3.12,0.36,12.5,7
4968,0,7.7,0.630,0.08,1.9,0.076,15.0,27.0,0.99670,3.32,0.54,9.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,1,7.2,0.230,0.25,18.8,0.085,19.0,111.0,1.00044,3.10,0.51,8.7,5
5564,0,8.3,0.490,0.36,1.8,0.222,6.0,16.0,0.99800,3.18,0.60,9.5,6
4161,1,7.4,0.160,0.30,13.7,0.056,33.0,168.0,0.99825,2.90,0.44,8.7,7
2429,1,8.1,0.340,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6
296,1,8.3,0.390,0.70,10.6,0.045,33.0,169.0,0.99760,3.09,0.57,9.4,5

## Assigning An Unique Category

In [100]:
data_unique_categ = data.copy()
data_unique_categ['fixed acidity'] = data_unique_categ['fixed acidity'].fillna(-9999)
data_unique_categ['pH'] = data_unique_categ['pH'].fillna(-9999)
data_unique_categ['volatile acidity'] = data_unique_categ['volatile acidity'].fillna(-9999)
data_unique_categ['sulphates'] = data_unique_categ['sulphates'].fillna(-9999)
data_unique_categ['citric acid'] = data_unique_categ['citric acid'].fillna(-9999)
data_unique_categ['residual sugar'] = data_unique_categ['residual sugar'].fillna(-9999)
data_unique_categ['chlorides'] = data_unique_categ['chlorides'].fillna(-9999)
train_cat, test_cat = train_test_split(data_unique_categ, test_size=.33)
test_cat

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
411,white,7.3,0.280,0.36,12.7,0.040,38.0,140.0,0.99800,3.30,0.79,9.6,6
6202,red,7.6,0.790,0.21,2.3,0.087,21.0,68.0,0.99550,3.12,0.44,9.2,5
3801,white,8.3,0.180,0.30,1.1,0.033,20.0,57.0,0.99109,3.02,0.51,11.0,6
4675,white,5.7,0.210,0.37,4.5,0.040,58.0,140.0,0.99332,3.29,0.62,10.6,6
5335,red,11.1,0.450,0.73,3.2,0.066,6.0,22.0,0.99860,3.17,0.66,11.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386,white,5.6,0.490,0.13,4.5,0.039,17.0,116.0,0.99070,3.42,0.90,13.7,7
3990,white,7.3,0.230,0.41,14.6,0.048,73.0,223.0,0.99863,3.16,0.71,9.4,6
4343,white,5.8,0.220,0.25,1.5,0.024,21.0,109.0,0.99234,3.37,0.58,10.4,6
926,white,5.4,0.595,0.10,2.8,0.042,26.0,80.0,0.99320,3.36,0.38,9.3,5
915,white,5.6,0.290,0.05,0.8,0.038,11.0,30.0,0.99240,3.36,0.35,9.2,5

In [101]:
train_cat = create_new_ds(train_cat)
test_cat = create_new_ds(test_cat)

In [102]:
train_cat

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1610,0,7.5,0.32,0.49,1.70,0.031,44.0,109.0,0.99060,3.07,0.46,12.500000,6
7,0,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.800000,6
3703,0,7.5,0.24,0.31,13.10,0.050,26.0,180.0,0.99884,3.05,0.53,9.100000,6
4628,0,6.1,0.19,0.37,2.60,0.041,24.0,99.0,0.99153,3.18,0.50,10.900000,6
987,0,7.4,0.30,0.30,5.20,0.053,45.0,163.0,0.99410,3.12,0.45,10.300000,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,0,6.0,0.24,0.27,1.90,0.048,40.0,170.0,0.99380,3.64,0.54,10.000000,7
4364,0,6.4,0.29,0.21,9.65,0.041,36.0,119.0,0.99334,2.99,0.34,10.933333,6
1920,0,8.1,0.26,0.33,11.10,0.052,52.5,158.0,0.99760,3.03,0.49,10.200000,7
5912,1,8.0,0.58,0.16,2.00,0.120,3.0,7.0,0.99454,3.22,0.58,11.200000,6
960,0,7.3,0.24,0.34,15.40,0.050,38.0,174.0,0.99830,3.03,0.42,9.000000,6

## Using Algorithms Which Support Missing Values | KNN Imputer 5 nearest neighbours

In [106]:
data_knn = data.copy()
train_knn, test_knn = train_test_split(data_knn, test_size=.33)
test_knn

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2685,white,7.0,0.160,0.36,2.60,0.029,28.0,98.0,0.99126,3.11,0.37,11.2,7
5155,red,6.6,0.695,0.00,2.10,0.075,12.0,56.0,0.99680,3.49,0.67,9.2,5
214,white,6.2,0.250,0.25,1.40,0.030,35.0,105.0,0.99120,3.30,0.44,11.1,7
4260,white,6.2,0.360,0.22,5.25,0.038,44.0,145.0,0.99184,3.22,0.40,11.2,6
178,white,6.0,0.670,0.07,1.20,0.060,9.0,108.0,0.99310,3.11,0.35,8.7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,red,11.4,0.460,0.50,2.70,0.122,4.0,17.0,1.00060,3.13,0.70,10.2,5
1892,white,6.8,0.240,0.31,18.30,0.046,40.0,142.0,1.00000,3.30,0.41,8.7,5
2224,white,8.0,0.450,0.28,10.80,0.051,25.0,157.0,0.99570,3.06,0.47,11.4,7
5751,red,9.3,0.360,0.39,1.50,0.080,41.0,55.0,0.99652,3.47,0.73,10.9,6
2562,white,6.9,0.320,0.26,2.30,0.030,11.0,103.0,0.99106,3.06,0.42,11.1,6

In [107]:
train_knn = create_new_ds(train_knn)
test_knn = create_new_ds(test_knn)

In [108]:

from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_knn = pd.DataFrame(scaler.fit_transform(train_knn), columns = train_knn.columns)
train_knn
test_knn = pd.DataFrame(scaler.fit_transform(test_knn), columns = test_knn.columns)
test_knn

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.0,0.205357,0.072727,0.292683,0.030675,0.033278,0.196364,0.253129,0.080008,0.357798,0.079096,0.430769,0.666667
1,1.0,0.169643,0.559091,0.000000,0.023006,0.109817,0.080000,0.136300,0.186813,0.706422,0.248588,0.123077,0.333333
2,0.0,0.133929,0.154545,0.203252,0.012270,0.034942,0.247273,0.272601,0.078851,0.532110,0.118644,0.415385,0.666667
3,0.0,0.133929,0.254545,0.178862,0.071319,0.048253,0.312727,0.383866,0.091190,0.458716,0.096045,0.430769,0.500000
4,0.0,0.116071,0.536364,0.056911,0.009202,0.084859,0.058182,0.280946,0.115481,0.357798,0.067797,0.046154,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,1.0,0.598214,0.345455,0.406504,0.032209,0.188020,0.021818,0.027816,0.260073,0.376147,0.265537,0.276923,0.333333
2141,0.0,0.187500,0.145455,0.252033,0.271472,0.061564,0.283636,0.375522,0.248506,0.532110,0.101695,0.046154,0.333333
2142,0.0,0.294643,0.336364,0.227642,0.156442,0.069884,0.174545,0.417246,0.165606,0.311927,0.135593,0.461538,0.666667
2143,1.0,0.410714,0.254545,0.317073,0.013804,0.118136,0.290909,0.133519,0.181415,0.688073,0.282486,0.384615,0.500000
2144,0.0,0.196429,0.218182,0.211382,0.026074,0.034942,0.072727,0.267038,0.076152,0.311927,0.107345,0.415385,0.500000

In [138]:

imputer = KNNImputer(n_neighbors=5)
train_knn5 = pd.DataFrame(imputer.fit_transform(train_knn),columns = train_knn.columns)
test_knn5 = pd.DataFrame(imputer.fit_transform(test_knn),columns = test_knn.columns)

In [139]:
train_knn5.isna().any()
test_knn5.isna().any()

type                    False
fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [140]:
train_knn5.to_csv('wine/knn_train.csv', index=False)
test_knn5.to_csv('wine/knn_test.csv', index=False)

# Accuracy

In [141]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

def model(train, test):
  logisticRegression = LogisticRegression(solver='newton-cg')
  logisticRegression.fit(train.drop('type', axis=1), train.type)
  score = logisticRegression.score(test.drop('type', axis=1), test.type)
  print(score)

In [143]:
from sklearn.linear_model import LogisticRegression
print("logistic Regression: Deleting Rows")
model(train_del, test_del)
print("logistic Regression: Replacing With Mean")
model(train_mean, test_mean)
print("logistic Regression: Unique Category")
model(train_cat, test_cat)
print("logistic Regression: KNN")
model(train_knn5, test_knn5)

logistic Regression: Deleting Rows
0.9859287054409006
logistic Regression: Replacing With Mean
0.9818181818181818
logistic Regression: Unique Category
0.965034965034965
logistic Regression: KNN
0.8806526806526807